<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<content>

		<form action="/signup" method="POST">
			<label for="email">
			Email:
			<input type="email" name="email">
		</label>
		<label for="pass">
			Password:
			<input type="password" name="pass">
		</label>
	</label>
	<label for="passconfirm">
		Confirm Password:
			<input type="password" name="passconfirm">
		</label>
		<button type="submit">Register</button>
	</form>
	<p>Already have an account? Click here to <a href="/login">login</a></p>
</content>
	
	<%- include('../includes/end.ejs') %>