<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
	<content>

		<h1>Admin Page</h1>
		<ul class="vert-menu">
			<li><a href='/admin/add-content'>Add content</a></li>
			<li><a href='/admin/view-content'>View content</a></li>
			<li><a href='/admin/view-users'>View user list</a></li>
			<li>-view User pages</li>
			<li>-view wavelengths</li>
			<li>-view recomendations?</li>
		</ul>
	</content>
<%- include('../includes/end.ejs') %>