<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Welcome to the project</h1>
admin Page	
* view User pages
* view wavelengths
* view recomendations?
* <a href='/admin/add-content'>Add content</a>
* <a href='/admin/view-content'>View content</a>
<%- include('../includes/end.ejs') %>