<section>
	<% if(content){%>
		<% for (let i = 0; i<content.length;i++) {%>
			<% let card_source = content[i]%>
			<%- include('../includes/content_card.ejs',{card_source: card_source}) %>
		<% }} %>
</section>
<script>
	function rate_button(contentID, marker) {
		console.log(":"+contentID+":");
		fetch('/shorthand/rate/'+contentID+'/'+marker)
		var src='card_id_'+contentID
		console.log(src);
		document.getElementById(src).innerHTML="Rating Logged!"
	}
</script>