<header>
	<a href="/"><img id="banner_image" src="../images/banner.png" alt="Wavelength Recemnendations"></a>
	<nav>
		<% if(isAdmin) {%>
		<a href='/admin'>Admin Page</a>
		<% } %>
		<a href='/recommendations'>Recommendations</a>
		<a href='/search'>Search</a>
		Review some movies
		<a href='/about'>About</a>
		<% if(isAuthenticated) { %>
			<a href='/profile'>Profile</a>
		Welcome, <%- email %>. (<a href='/logout'>Logout</a>)
		<% } else { %>
		<a href='/login'>Login</a>
		<% } %>
	</nav>
</header>