<header>
	<nav>
		<% if(isAdmin) {%>
		<a href='/admin'>Admin Page</a>
		<% } %>
		<a href='/todo'>To Do list</a>
		<a href='/recommendations'>Get a Recommendation</a>
		<a href='/search'>Search</a>
		Review some movies
		<a href='/profile'>Profile</a>
		<a href='/about'>About this project</a>
		<% if(isAuthenticated) { %>
		<a href='/logout'>Logout</a>
		<% } else { %>
		<a href='/login'>Login</a>
		<% } %>
	</nav>
</header>