<header>
	<button>Menu</button>
	<nav>
		<a href='/todo'>To Do list</a>
		Get a reccomendation
		pull up a specifc movie
		Review some movies
		Profile
		<a href='/about'>About this project</a>
		<% if(isAuthenticated) { %>
		<a href='/logout'>Logout</a>
		<% } else { %>
		<a href='/login'>Login</a>
		<% } %>
	</nav>
</header>