<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Content Error</h1>
	<p>We're sorry, but something has gone wrong.</p>
<%- include('../includes/end.ejs') %>