<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
	<content>

		<h1>Content Error</h1>
		<p>We're sorry, but something has gone wrong.</p>
	</content>
<%- include('../includes/end.ejs') %>