<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	
	<h1>Welcome to the project</h1>
	<div id="rate_page">

		<% if(content){%>
			<%-content.title %>
		<% for (let i = 0; i<content.length;i++) {%>
		<% let card_source = content[i]%>
		<%- include('../includes/content_card.ejs',{card_source: card_source}) %>
		<% }} %>

		</div>
	<script>
		function rate_button(contentID, marker) {
			console.log(":" + contentID + ":");
			fetch('/shorthand/rate/' + contentID + '/' + marker)
			var src = 'card_id_' + contentID
			console.log(src);
			document.getElementById(src).innerHTML = "Rating Logged!"
		}
	</script>


<footer style="position: relative;">
	<p>This site was built in 2022 for Matt Wilson's Senior project. 
		It was built using Node.js, Express and PostgresSql. 
		It is hosted on Heroku and <a href="https://github.com/mattwandcow/senior-project">Github</a></p>
</footer>
</body>