<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<h1>Welcome to the project</h1>

	<form action="/search" method="POST">
		<label>
			Search
			<input type="text" name="search">
		</label>
		<button type="submit">Search</button>
	</form>
	<h2>Results </h2>
	<%if(content.length == 0) {%>
	<p>No results found</p>
	<%}else{%>
		<% for (let i = 0; i<content.length;i++) {%>
			<li><%- content[i].title%></li>
			<%  }%>
		</ul>
	<%}%>
<%- include('../includes/end.ejs') %>