<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<h1>Welcome to the project</h1>

	<form action="/search" method="POST">
		<label>
			Search
			<input type="text" name="search">
		</label>
		<button type="submit">Search</button>
	</form>
	<h2>Results </h2>
	<%if(content.length == 0) {%>
	<p>No results found</p>
	<%}else{%>
		<% for (let i = 0; i<content.length;i++) {%>
			<%- include('../includes/content_card.ejs',{card_source: content[i]}) %>
			<%  }%>
		</ul>
	<%}%>
	<script>
		function rate_button(contentID, marker) {
			console.log(":"+contentID+":");
			fetch('/shorthand/rate/'+contentID+'/'+marker)
			var src='card_id_'+contentID
			console.log(src);
			document.getElementById(src).innerHTML="Rating Logged!"
		}
	</script>
<%- include('../includes/end.ejs') %>