<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
	<content>
    <h1>Search Content</h1>
	<form action="/search" method="POST">
		<label>
			Search 
			<input type="text" name="search">
		</label>
		<button type="submit">Search</button>
	</form>
	</content>
<%- include('../includes/end.ejs') %>