html{
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	background-color: #eaf2ef;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}

a:hover {
	color: grey;
	text-decoration: underline;

}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

header>a>img {
	max-width: 100%;
	margin: 10px;
}

header>a {
	display: flex;
	justify-content: center;
}
#topbar>span>a:hover,nav>a:hover,footer>p>a:hover {
	color: whitesmoke;
}
nav {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.4em;
	background-color: cadetblue;
	padding: 10px;
}

nav>span {
	font-size: 1em;
}

content {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2.5 rem;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#rate_page{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2.5 rem;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

}
content>p{
	width: 80%;
	text-indent: 7px;
	font-size: 1.15em;
}

content>h1,
h2 {
	text-align: center;
}

section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#reload_banner {
	max-width: 50px;
	flex-basis: 100%;
}

.content_card {
	display:flex;
	flex-direction: column;
	width: 200px;
	background-color: #dfe2ff;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
.content_card>img {
	max-width: 150px;
}

.button_box {
	margin: 10px;
	display: flex;
}

input,
textarea,
label,
button {
	display: block;
	margin-left: 15px;
}

label {
	margin-top: 7px;
	padding: 7px;
}

#topbar {
	flex-basis: 100%;
	width: 100%;
	background-color: cadetblue;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

#topbar>span {
	padding: 5x;
}

footer {
	flex-shrink: 0;
	width: 100%;
	text-align: center;
	background-color: cadetblue;
}
#footer-rel {
	min-height: 50px;
	bottom: 0;
	left: 0;
	flex-basis: 100%;
	width: 100%;
	text-align: center;
	background-color: cadetblue;
	margin-top: auto;
}

thead {
	font-size: 1.2em;
	text-decoration: underline;
}

td {
	text-align: center;
}

.vert-menu {
	list-style-type: none;
}

.vert-menu>li {
	padding: 10px;
	margin: 7px;
	background-color: #dfe2ff;
}

.single_content_image {
	max-width: 400px;
}
.view-content{
	max-height: 60px;
}
.btn_delay{
	border: 0;
	background: none;	
	background-image: url(/images/delay.png);
  	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.btn_down{
	border: 0;
	background: none;	
	background-image: url(/images/downvote.png);
  	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.btn_up{
	border: 0;
	background: none;	
	background-image: url(/images/upvote.png);
  	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.btn_null{
	border: 0;
	background: none;	
	background-image: url(/images/nullvote.png);
  	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
}
.btn_up:hover,.btn_delay:hover,.btn_down:hover,.btn_null:hover{
	border: solid 1px grey;
}

#recc_card_holder{
	display: flex;
	flex-wrap: wrap;
}
.recc_image{
	max-width: 150px;
}
.recc_card{
	background-color: #dfe2ff;
	width: 400px;
	display: flex;
	justify-content: space-around;
	align-content:center;
	margin: 7px;
}
.recc_pair_text{
	font-size: 1.1em;
	margin: 7px;
	width: 225px;
	border-top: solid 1px cadetblue;
}
.recc_pair_text>h3{
	text-decoration: underline;
	padding-left: 0px;
}
.recc_pair_text>p{
	padding-left: 10px;
}
.recc_solo_text{
	font-size: 1.1em;
	text-align: center;
}
.type_img{
	margin-left: 5px;
	max-height: 1em;
}
.recc_type_img{
	height: auto;
	max-width: 50px;
	margin-left: auto;
	margin-right: auto;
}
.recc_box{
	display: flex;
	flex-direction: column;
	align-content: center;
}