body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}

a:hover {
	color: whitesmoke;
	text-decoration: underline;

}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

header>a>img {
	max-width: 100%;
	margin: 10px;
}

header>a {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.4em;
	background-color: cadetblue;
	padding: 10px;
}

nav>span {
	font-size: 1em;
}

content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 2.5 rem;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#rate_page{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2.5 rem;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

}

content>h1,
h2 {
	text-align: center;
}

section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#reload_banner {
	max-width: 50px;
	flex-basis: 100%;
}

.content_card {
	display:flex;
	flex-direction: column;
	width: 200px;
	background-color: #dfe2ff;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
.content_card>img {
	max-width: 150px;
}

.button_box {
	margin: 10px;
	display: flex;
}

form>input,
textarea,
label,
button {
	display: block;
	margin-left: 15px;
}

form>label {
	margin-top: 7px;
	padding: 7px;
}

#topbar {
	flex-basis: 100%;
	width: 100%;
	background-color: cadetblue;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

#topbar>span {
	padding: 5x;
}

footer {
	min-height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	flex-basis: 100%;
	width: 100%;
	text-align: center;
	background-color: cadetblue;
	margin-top: auto;
}

thead {
	font-size: 1.2em;
	text-decoration: underline;
}

td {
	text-align: center;
}

.vert-menu {
	list-style-type: none;
}

.vert-menu>li {
	padding: 10px;
	margin: 7px;
	background-color: #dfe2ff;
}

.single_content_image {
	max-width: 400px;
}
