<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<h1>About the Project</h1>
	<p>I can remember the review that made me stop trusting what people had to say about movies. It was 2012, and the
		movie John Carter had just come out. And a pair of early morning radio show hosts were talking about the film. I
		enjoyed their banter, and they were a pleasent part of my morning, until a comment was made by one about this
		movie. It was something along the lines of "Isn't this Mars? How is he breathing? That's not realistic at all!"
		I felt my respect errode away, as his main reason for disliking the movie seemed to be based on the fact that he
		couldn't identify a movie with a guy juming fifty feet into the air as a action fantasy, and not a serious
		scientific treatment of the location. </p>
	<p>And after that, I couldn't trust his opinions on movies. Our tastes were just too dissimilar. I'd see it a bit
		before, with newspaper reviews of theatrical releases not really matching what I would think of a movie. They
		were occasionaly worth a gander, as they knew things like actors and directors, but thier ideas of merit were
		not mine, and there for, less.</p>

	<p>And that's the problem with the big review sites. It does't matter how intelligent or erudite that their critics
		are, those critics aren't you. They don't know you, and there is no relation between what they like and you
		like, unless the stars align.</p>
	<p>What this project is endeavoring to do is base user recomendations based on reviews of people with a similar
		review 'wavelength' to you. Wavelength are what I call the intersecting interests of a group. Think of them like
		a phantom people, with average tastes. Well, tastes averaged from the people sharing the tastes that comprise
		their makeup. Which changes on occasion. One of the factors we track is your deviation from your wavelength. We
		want you to have people on your wavelength, but the efficacy is reduced if they don't share your tastes. So as
		reviews come in, we recalculate your relation to the wavelength, and if it crosses a threshhold, we'll move you
		to a new wavelength that more suits your tastes.</p>
		<h2>How this site was built</h2>
		<p>This site was built using Node.js, Express and _____</p>

	<%- include('../includes/end.ejs') %>