<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<content>
	<h1>About the Project</h1>
	<p>I can remember the review that made me stop trusting what people had to say about movies. It was 2012, and the
		movie John Carter had just come out. And a pair of early morning radio show hosts were talking about the film. I
		enjoyed their banter, and they were a pleasent part of my morning, until a comment was made by one about this
		movie. It was something along the lines of "Isn't this Mars? How is he breathing? That's not realistic at all!"
		I felt my respect errode away, as his main reason for disliking the movie seemed to be based on the fact that he
		couldn't identify a movie with a guy jumping fifty feet into the air as a action/fantasy, and not a serious
		scientific treatment of the location. </p>
	<p>And after that, I couldn't trust his opinions on movies. Our tastes were just too dissimilar. I'd seen it a bit
		before, with newspaper reviews of theatrical releases not really matching what I would think of a movie. They
		were occasionaly worth a gander, as they knew things like actors and directors (useful as this was pre IMDB),
		but thier ideas of merit were not mine, and therefore, less important.</p>
	<p>And that's the problem with the big review sites. It does't matter how intelligent or erudite that their critics
		are, those critics aren't you. They don't know you, and there is no relation between what they like and you
		like, unless the stars align.</p>
	<p>What this project is endeavoring to do is calculate recomendations based on reviews of people with a similar
		review 'wavelength' to you. Wavelength are what I call the intersecting interests of a group. Your wavelength
		changes as you review more content. The more reviews you have, the more accurately we can compare your tastes
		to others.</p>
	<p>While working on this project, I realized that movies are not the only content that can be used to determine what
		a persons likes and dislikes are. Everything makes up the mosiac of you, from bands, to movies and games, to books.
	</p>
</content>
<footer style="position: relative;">
	<p>This site was built in 2022 for Matt Wilson's Senior project. 
		It was built using Node.js, Express and PostgresSql. 
		It is hosted on Heroku and <a href="https://github.com/mattwandcow/senior-project">Github</a></p>
</footer>
</body>