<%- include('../includes/head.ejs') %>
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<h1>About the Project</h1>
	<pre>
		admin page to add content
		Css nav to make it work as a list
		admin page to edit content
		database table for logins
			-track when last login occured
		admin fuctions are avaialbe to all users, probably?
		https://medium.com/@vapurrmaid/getting-started-with-heroku-postgres-and-pgadmin-run-on-part-2-90d9499ed8fb
	</pre>

	<%- include('../includes/end.ejs') %>